<div class="row col-md-12">
        <div class="bg-primary text-white text-center col-md-6">
                <h6>{{subTitle}}</h6>
        </div>
        <div class="text-white text-center col-md-6">
                <h6 class="align-items-center" style="background-color:#ffc266; color:black; ">{{utente.Nome}}
                        {{utente.Cognome}}
                        {{utente.DescrizioneUO}}</h6>
        </div>
</div>
<div class="row">
        <div class="col">
                <button class="btn btn-primary cube-rounded">
                        <a routerLink="ColonnineLettureAdd">
                                Inserimento
                                dei dati di<br>una
                                nuova misurazione
                        </a>
                </button>
        </div>
        <div class="col">
                <button type="submit" class="btn btn-primary cube-rounded">Analisi statistica dei dati<br>già inseriti</button>
        </div>
        <div class="col">
                <button type="submit" class="btn btn-primary cube-rounded">Segnalazioni</button>
        </div>
</div>